#profile a {
    color: white;
}

.adsbygoogle {
    margin: 30px 0;
}

.post-content img {
    width: 100%;
}
div .hatena-bookmark-widget {
    width: 90%;
    max-width: 360px;
    margin: 5%;
    display: inline-block;
}
